<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="top-nav">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About</a>
            <a href="/receipts" class="nav-button">Receipts</a>
            <a href="/match" class="nav-button">Match</a>
        </nav>
        <center>
            <h1>WAVELENGTH</h1>
            
            <script type="text/javascript" src="https://form.jotform.com/jsform/243650981920056">
            </script>

         
                

        </center>
    </body>
</html>