<html lang="en">


    <head>
        <meta charset=""UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>


    <body>

        <nav class="top-nav">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About</a>
            <a href="/receipts" class="nav-button">Receipts</a>
            <a href="/match" class="nav-button">Match</a>
        </nav>

        <div class="video-background">
            <video muted loop autoplay="autoplay" id="myVideo">
                <source src="static/real_homepage.mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="dark-overlay"></div>


 
        <center>
            <div class="verticalCenter2">
                
                <h3>Matches are coming...</h3>
         
            </div>
            
        </center>

       
    
    </body>
</html>